@import url('https://fonts.googleapis.com/css?family=Open+Sans|Mirza|Quattrocento+Sans:400,700');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


/*
 * -- HEADER --
*/


.header {
  height: 300px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  background-color: #051014;
  color: #85c7f2;
}

.header-text {
  flex-grow: 1;

  text-align: right;
  line-height: 0.1em;
}

.title { /* Name */
  font-family: 'Mirza', cursive;
  font-size: 3em;
  letter-spacing: 3px;
}

.subtitle { /* Name subtitle */
  font-size: 1.3em;
  letter-spacing: 5px;
}

.header-logo { /* Photo */
  flex-grow: 1;
}

.photo {
  height: 150px;
  animation: photo-spin infinite 20s linear;
}

@keyframes photo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 48em) {
  .header {
    flex-direction: column;
  }

  .header-text {
    text-align: center;
  }

  .photo {
    height: 120px;
  }
}
 
@media (max-width: 32em) {

  .header {
    height: 250px;
  }

  .title { /* Name */
    font-size: 2em;
  }

  .subtitle { /* Name subtitle */
    font-size: 1em;
  }

  .photo {
    height: 100px;
  }
}



/*
 * -- CONNECTIONS --
*/


.connections {
  padding: 0px 100px 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: #051014;
  color: #cddddd;
}

.connection {
  margin: 20px;
  /*padding: 20px;*/

  display: inline-block;
  height: 100px;
  width: 100px;

  background-color: #cddddd;
  border: 5px solid white;
  border-radius: 50%;
  /*box-shadow: 0 0 3px 1px #bbb;*/

  text-align: center;
}

.connection-text {
  display: inline-block;
  /*vertical-align: middle;*/
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top:-0.6em;
}

@media (max-width: 48em) {

  .connections {
    padding: 0px 60px 60px;
  }

  .connection {
    height: 80px;
    width: 80px;
  }
}
 
@media (max-width: 32em) {

  .connections {
    padding: 0px 30px 30px;
  }

  .connection {
    height: 60px;
    width: 60px;
  }
}


/*
 * -- PROJECTS --
*/


.projects {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*max-width: 1200px;*/ /*TODO*/

  background-color: #cddddd;

  color: #85c7f2;
}

@media (max-width: 48em) {
    .projects {
      display: block;
      padding: 70px;
    }
}

@media (max-width: 32em) {

  .rhb-type-project.rhb-txt-title.rhb-sm {
    font-size: 1.3em;
  }

  .rhb-type-project.rhb-txt-desc.rhb-sm {
    font-size: 1em;
  }
}
