@import url('https://fonts.googleapis.com/css?family=Open+Sans|Mirza|Quattrocento+Sans:400,700');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


/*
 * -- HEADER --
*/


.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  background-color: #051014;
  height: 300px;
  padding: 20px;
  color: #85c7f2;
}

.header-text {
  flex-grow: 1;
  flex-basis: 50%;

  text-align: right;
  line-height: 0.1em;
}

.title { /* Name */
  font-family: 'Mirza', cursive;
  font-size: 3em;
  letter-spacing: 3px;
}

.subtitle { /* Name subtitle */
  font-size: 1.3em;
  letter-spacing: 5px;
}

.header-logo { /* Photo */
  flex-grow: 1;
  flex-basis: 50%;
}

.photo {
  animation: photo-spin infinite 20s linear;
  height: 150px;
}

@keyframes photo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
 * -- CONNECTIONS --
*/


.connections {
  padding: 0px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: #051014;
  color: #cddddd;
}

.connection {
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  /*padding: 20px;*/
  margin: 20px;

  border: 5px solid #85c7f2;
  border-radius: 50%;
  /*box-shadow: 0 0 3px 1px #bbb;*/
  background-color: #cddddd;
}

.connection-text {
  display: inline-block;
  /*vertical-align: middle;*/
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top:-0.6em;
}


/*
 * -- PROJECTS --
*/


.projects {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*max-width: 1200px;*/ /*TODO*/

  background-color: #cddddd;

  color: #85c7f2;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 250px;
  width: 250px;
  text-align: center;
  margin: 30px;
  padding: 5px;

  border: 10px solid #cddddd;
  /*box-shadow: 0 0 2px 0px #051014;*/
  /*border: 1px solid #1e152a;*/
  background-color: inherit;
  background-size: cover;

  text-decoration: none;
}

.project-text {
  display: none;

  margin: 10px;

  color: #85c7f2;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.project-title {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.7em;
}

@media (min-width: 48em) {
  
  .project:hover {
    border: 10px solid #051014;
    background-color: #051014;
    background-image: none;
  }

  .project:hover .project-text {
    display: initial;
  }
}

@media (max-width: 48em) {
    .projects {
      display: block;
      padding: 70px;
    }
    
    .project {
      display: flex;
      flex-direction: row; /* Different structure. Instead of column text, it's row img + text. */

      height: auto;
      width: auto;
      text-align: left;
      padding: 20px;
      margin: 30px;

      border: 0px;
      /*border: 1px solid #051014;*/
      /*border-bottom: 1px solid #051014;*/
      /*box-shadow: 0 0 2px 0px #051014;*/
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .project-image-container-mobile-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      height: auto;
    }

    .project-image-mobile-down {
      width: 100%;
      height: auto;
    }

    .project-text-container-mobile-down {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 70%;
      margin-left: 20px;
    }

    .project-text {
      display: inline;
      color: #051014;
      text-align: left;
      font-size: 1.2em;
    }

    .project-title {
      font-size: 1.5em;
    }
}


/*
 * -- TABLET & BELOW MEDIA QUERIES --
*/

 
@media (max-width: 64em) {
    
}


/*
 * -- MOBILE & BELOW MEDIA QUERIES --
*/

 
@media (max-width: 48em) {
  .header {
    flex-direction: column;
  }

  .header-text {
    text-align: center;

  }

  .photo {
    height: 120px;
  }
}


/*
 * -- TINY & BELOW MEDIA QUERIES --
*/

 
@media (max-width: 32em) {

  .header {
    height: 250px;
  }

  .title { /* Name */
    font-size: 2em;
  }

  .subtitle { /* Name subtitle */
    font-size: 1em;
  }

  .photo {
    height: 100px;
  }

  .projects {
    padding: 30px;
  }

  .project {
    /*padding: 10px;*/
    margin: 20px;
  }

  .project-text {
    font-size: 1em;
  }

  .project-title {
    font-size: 1.2em;
  }
}


